/* RESET */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* END RESET CSS */

body { font-family:Trebuchet MS, Verdana, Arial,sans-serif; font-size: 100%; }
h2{ font-size: 140%; margin: 10px 0; }
a { color:#3494a6; text-decoration: none; }
a:hover { text-decoration: underline; }

.header, .wrap { margin:0 auto; width:80%; max-width:1200px; }

.header a { float: right; }

form { margin: 20px 0; }
form p { margin: 10px 0; }
fieldset { padding: 10px; border: solid 1px #F1F1F1; }
input[type="text"],input[type="password"] { padding: 3px; width: 350px; height: 20px; font-size: 100%;   }
input[type="submit"] { height: 30px; background-color:#b7d5e5; border: 0; font-size: 100%;  }
label { float: left; padding-top: 5px; width: 100px; }

table { margin:50px 0; width: 100%; border: 0; }
table tr:first-child { background-color: #b7d5e5; }
table tr:nth-child(2n+0) { background-color: #F1F1F1; }
table td { padding:5px; width:33%;  }

a.action { padding: 5px 25px; background-color:#F1F1F1; text-decoration: none;  }
a.action:hover { background-color:#CCC; }
.errors { color: #e3502d; }

/* General Classes */
.clear { clear:both; }